* {
    box-sizing: border-box;
}
a {
    color: #009c9c;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
a.header {
    color: #000000;
    text-decoration: none;
}
a.header:hover {
    color: #009c9c;
    text-decoration: none;
}
a.next {
    float: right;
    text-align: right;
    width: 50%;
}
a.previous {
    float: left;
    text-align: left;
    width: 50%;
}
body {
    background-color: #607d8b;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 16px;
    line-height: 1.618;
}
div.content {
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    color: #000000;
    margin: 24px auto;
    max-width: 920px;
    padding: 20px 60px;
    overflow: auto;
}
div.index {
    padding: 20px 44px;
}
div.grid-column {
    flex-basis: 100%;
    margin: 16px;
}
div.grid-column>a {
    color: #000000;
}
div.grid-column>a>h2 {
    font-size: 16px;
}
div.grid-column>a>p {
    font-size: 12px;
}
@media screen and (min-width: 800px) {
    div.grid-column {
        flex: 1;
    }
}
@media screen and (max-width: 800px) {
    div.content {
        padding: 20px 16px;
    }
    div.index {
        padding: 20px 0;
    }
}
div.grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.note {
    background-color: #fdf5e6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    font-size: 14px;
    font-style: italic;
    margin: 24px auto;
    max-width: 540px;
    padding: 2px 24px;
}
h1, h2, h3, h4 {
    clear: both;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 18px;
}
h1.subtitle {
    font-size: 18px;
}
h2.subtitle {
    margin: 0 0 16px 0;
}
h2.subtitle, h3.subtitle, h4.subtitle {
    color: #a8a8a8;
    font-size: 14px;
    font-variant: normal;
}
img {
    max-width: 100%;
}
nav {
    margin: 12px auto;
}
p {
    text-align: justify;
}
p.footer {
    font-size: 14px;
    text-align: center;
}
p.overview {
    font-weight: bold;
}
q {
    font-style: italic;
    quotes: "\201e" "\201d";
}